<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>$watch</title>
</head>
<body ng-app="hello">
  <div ng-controller="helloController">
    <input type="text" ng-model="name">
    <input type="text" ng-model="age">
    <button>测试</button>
  </div>
  <script src="libs/angular.js"></script>
  <script>
    // 1.创建模块
    var app = angular.module('hello', [])

    // 2.创建控制器
    app.controller('helloController',['$scope',function($scope){
      $scope.name = '小明'
      $scope.age = 18

      // $watch可以用来监视数据模型的变化
      // 第一个参数: 数据模型对应的名字(字符串形式)
      // 第二个参数: 相应的数据模型变化就会调用 这个函数
      // 默认会直接执行一次回调函数
      $scope.$watch('name',function(now,old){
        // 第一个参数是变化后的值
        // 第二个参数是变化前的值
        // console.log(now,old)
      })

      $scope.getAge = function(){
        return $scope.age
      }
      

      // 也能够监视$scope.属性中的方法的返回值
      $scope.$watch('getAge()',function(now,old){
        console.log(now,old)
      })

      //*$watch监视的是$scope的属性，如果是一个普通变量是无法监视的*
      function getName(){
        return $scope.name
      }
      $scope.tmp = getName
      $scope.$watch('tmp()',function(now,old){
        console.log(now,old)
      })

    }])
  </script>
</body>
</html>